.FriendsContainer {
width: 65px;
    padding: 5px 2px;

    font-family: Arial;
    text-align: center;

    border: 2px solid black;
    border-radius: 8px;
}

.name {
font-size: 20px;
    font-weight: 500;
    line-height: 0.1;
    letter-spacing: 0.02em;
}

.online {
    font-size: 13px;
color: green;
}

.offline {
    font-size: 13px;
color: red;
}







