.table {
    width: 387px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 12px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    border-collapse: collapse;
}

.thead > .theadTr > .theadTh {
    padding: 8px;
    text-align: center;
    color: white;
    background-color: #2a2a2a;
    border: 1px solid black;
}

.tbodyTr:nth-child(2n) {
    background-color: #939393;
}

.tbodyTd {
    width: 220px;
    padding: 8px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}